* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: rgb(0, 6, 36);
  background: linear-gradient(
    126deg,
    rgba(0, 6, 36, 0.773546918767507) 0%,
    rgba(52, 142, 189, 0.7203256302521008) 50%,
    rgba(46, 185, 237, 1) 100%
  );
  height: 850px;
}
.chart {
  background-color: rgb(255, 35, 72) !important;
}
.navbar {
  background-color: #000624;
}
.btn {
  background-color: #000624 !important;
  border-color: aliceblue !important;
}
